

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  position: absolute !important;
}

input::-webkit-color-swatch {
  border: 0;
}
input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.customColorInput {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;

}
.customColorInput.isReadOnly {
  cursor: not-allowed;
}
.customColorInput.isReadOnly > input[type=text] {
  cursor: inherit;
  filter: contrast(0);
}
.customColorInput.isReadOnly > input[type=color] {
  pointer-events: none;
  cursor: inherit;
}
.customColorInput__text-input {
width: 4rem;
  font-size: 0.5rem;
  flex-grow: 1;
  order: 1;
  padding: 0;
  background: transparent;
  border: 0;
  line-height: 1;
padding: 5px 0px;
background-color: white;
}
.customColorInput__text-input:focus {
  outline: none;
}
.customColorInput .invalid-feedback {
  order: 3;
}
.customColorInput__select-input {
  flex-shrink: 0;
  order: 2;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  

}
.customColorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-label{
    margin-right: 16px;
    background: transparent;
}