
.layout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --dot-bg: rgb( 33, 37, 41);
  --dot-color: #3e3e3e;
  --dot-size: 2px;
  --dot-space: 16px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);

}

.canvas {
  width: 100vw;
  height: 100vh;
  /* background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../Assets/Images/diamond-sunset.svg"); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent !important;
  
}
.options-heading{
  font-size: 0.8rem;
 margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}
.position{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem ;

}
.canvasStage{
    flex: 1;
    display: flex;
    width: 100%;
     height:-webkit-fill-available;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: solid red 1px; */
    margin: 3rem 0;
    transition: "transform 0.1s ease",
}
.context-menu-list{
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}
.context-menu-list span{
font-size: 0.5rem;
}
canvas{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* ===========================shape options Styles=============================== */
.settingsPanel {
  width: 15rem;
  min-height: 85%;
  height: 85%;
  max-height: 85%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  margin: 0 0.5rem;
  z-index: 1;
  position: relative;
transform: translateX(15rem);
 transition: all 0.2s ease-out;

}
.showPanel{
 transform: translateX(0rem);
transition: all 0.2s ease-out;

}
.open-panel-btn{
    position: absolute;
    left: -1rem;
    top: 4rem;
    border-radius: unset ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow:  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.open-panel-btn:focus,.open-panel-btn:focus-within{
border: unset;
outline: unset;
}
.settingsPanel .tab-content,.settingsPanel .tab-content .tab-pane{
  height: 100% !important;
}

.shapeOptionsTabs{
padding:0 2.5rem 0.5rem  2.5rem ;
border-bottom: 1px solid #9e9e9e !important;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border: none;
}
.shapeOptionsTabs li button{
  border: none !important;
  padding: 0.25rem;
  font-size: 0.5rem !important;
  color: #fff;
}
.shapeOptionsTabs li button:hover{
  color: #fff !important;
}
.shapeOptionsTabs li .active{
  border: none !important;
  padding: 0.25rem;
  font-size: 0.5rem !important;
  font-weight: 600;
  color:#fff !important;
  background-color: transparent  !important;
  border-bottom: solid 2px #ffb703 !important;
}
