

.elements-wrapper{
min-height: 85%;
display: flex;
flex-direction: row;
position: relative;
z-index: 1;
}
.elements {
 padding: 0.5rem 0 ;
  width: 3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem ;
}
.elementBtn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.elementBtn:hover{
  background-color: antiquewhite;
  cursor: pointer;
}
/* ===================================Image Options Styles ===================================== */
.imageOptionsCard{
  min-width: 15rem;
  max-width: 15rem;
  width: 15rem;
  min-height: 100%;
  height: 100%; 
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 3.5rem;
  z-index: 1;
  width: auto;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 
.imageOptionsTabs{
padding:0 2.5rem 0.5rem  2.5rem ;
border-bottom: 1px solid #e2e2e2 !important;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border: none;
}
.imageOptionsTabs li button{
  border: none !important;
  padding: 0.25rem;
  font-size: 0.5rem !important;
  color: black;
}
.imageOptionsTabs li button:hover{
  color: black !important;
}
.imageOptionsTabs li .active{
  border: none !important;
  padding: 0.25rem;
  font-size: 0.5rem !important;
  font-weight: 600;
  border-bottom: solid 2px #ffb703 !important;
}
.thumbnail{
      width: 5rem;
    /* height: 10%; */
    object-fit: cover;
    margin: 0.5rem;
   
  
}
.shape-elements{
  width: 100%;
  height: 100%;
}
.shape-headings{
width: 100%;
height: auto;
border: unset;
border-bottom: 1px solid #454545;
}
.shape-headings p{
  margin: 0.5rem ;
  font-size: 0.8rem;
}
.shape-element-btn{
   display: inline-block;
    color: #9e9e9e;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2.5rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.elementBtnSelected{
    background-color: burlywood;
}
.shapes-wrapper-body{
  height: 100%;
  overflow-y:scroll ;
}
.shapes-wrapper-body::-webkit-scrollbar {
  width: 4px !important;               /* width of the entire scrollbar */
}

.shapes-wrapper-body::-webkit-scrollbar-track {
  background:#454545;        /* color of the tracking area */
}
.shapes-wrapper-body::-webkit-scrollbar-thumb {
  background-color: #ffb703 !important;    /* color of the scroll thumb */
  border-radius: 2px !important;  
  border: 1px solid #454545;     /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}
.localUploads{
  height: 38rem;
}
.localUploads-list{
  height: 38rem;
  overflow-y: scroll;
}

.localUploads-list::-webkit-scrollbar {
  width: 4px !important;               /* width of the entire scrollbar */
}

.localUploads-list::-webkit-scrollbar-track {
  background:#454545;        /* color of the tracking area */
}
.localUploads-list::-webkit-scrollbar-thumb {
  background-color: #ffb703 !important;    /* color of the scroll thumb */
  border-radius: 2px !important;  
  border: 1px solid #454545;     /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}
