body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;font-family: "Montserrat", serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #212121;
}
.canvas-container{
width: 100vw;
height: 100vh;
background: #e2e2e2 !important;
display: flex;
justify-content: center;
align-items: center;    
}

.accent-color{
    color:#ffb703
}
.accent-bg{
    background-color: #ffb703;
}
.fs-halfRem{
font-size: 0.5rem;
}
.cursor-pointer{
    cursor: pointer;
}
.border-square{
    border-radius: unset !important;
}
.font-dark-bg{
   color: #929292 !important;
}