.optionsWrapper{
  width: 100%;
  height: auto;
  min-height: 10rem;
  padding: 1rem 0;
}
.optionsWrapper .accordion{
  background-color: transparent;
}
.optionsWrapper .accordion-body{
  padding: 0.25rem 0;
}
.optionsWrapper .accordion .accordion-item{
  background-color: transparent;
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid #454545;
}
.optionsWrapper .accordion .accordion-item .accordion-button{
  background: transparent;
  color: #929292;
  padding: 0.5rem;
  font-size: 0.8rem;
  border: none;
}
 .accordion-button:hover, .accordion-button:focus-visible,.accordion-button:focus{
  border: unset;
  box-shadow: none;
}
.optionsWrapper .accordion .accordion-item .accordion-button::after{
  background-image: url('../../Assets/Icons/cheveron-down.svg');
}
.accordion-icon-color{
  color: red;
}
.options-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 0 1rem;
}


 .dd-toggle-btn::after{
  display: none;
 }
 .dd-toggle-btn:hover{
  background: unset;
 }
 .dd-item, .dd-item:hover{
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  line-height: 1rem;
 }
 .noShape-selected{
  width: auto;
  height: 100%;
 }
 .noShape-icon{
  font-size: 4rem;
  color: #454545;
 }
 .noShape-selected-heading{
  color: #454545;
  font-weight: 700;
  margin-bottom: unset;
 }
 .noShape-selected-helper{
  color: #454545;
  font-weight: 700;
font-size: 0.75rem;
 }